{% extends "base.html" %}
{% block title %} | Phòng chờ{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/zino.core.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/zino.canvas.css') }}">
{% endblock %}
{% block body %}
<ul id="players" style="float: left;">
  {% for player in players %}
    {% if loop.index == index + 1 %} 
    <li><font color="blue">{{ player }}</font></li>
    {% else %}
    <li>{{ player }}</li>
    {% endif %}
  {% endfor %}
</ul>

<div id="canvas" style="border:1px solid black; height: 1000px; width: 1000px; cursor: url({{ url_for('static', filename='handcursor_32.png') }}), pointer; float: right;"></div>
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/zino.canvas.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/application-trialgame.js') }}"></script>
{% endblock %}