<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flask_Chat_App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/zino.core.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/zino.canvas.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>

    <h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
    <div class="message_holder"></div>

    <form action="" method="POST">
      <input type="text" class="username" placeholder="User Name"/>
      <input type="text" class="message" placeholder="Messages"/>
      <input type="submit"/>
    </form>

    <div id="canvas" style="border:1px solid black; height: 1000px; width: 1000px; cursor: url({{ url_for('static', filename='handcursor_32.png') }}), pointer;"></div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/zino.canvas.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/application-socket.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/application-trialgame.js') }}"></script>

</body>
</html>